<div class="col-xs-12">
  <% if user.id == current_user.id %>
    <%= link_to edit_user_path(user), :method => :get do %>
      <i class = "glyphicon glyphicon-wrench aria-hidden=true btn btn-default col-md-12"></i>
    <%end%>
  <% end %>
</div>

<div class="col-xs-8">
  <% unless current_user == user %>
    <% if current_user.following?(user) %>
        <%= button_to 'フォローを外す', relationship_path(relationship: current_user.relationships.find_by(follow_id: user.id)), method: :delete, class:"btn btn-danger" %>
    <% else %>
        <%= button_to 'フォローする', relationships_path(id: user.id), method: :post, class:"btn btn-success" %>
    <% end %>
  <% end %>
</div>


